.cover__link {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 100;
  cursor: pointer;
  text-decoration: none;
}

@media (min-width: 1280px) {
  .cover__link {
    min-width: 1184px;
    min-height: 740px;
  }
}

@media (max-width: 1279px) {
  .cover__link {
    min-height: 62.5vw;
  }
}
