.cover__subtitle {
  margin: 0;
  padding: 0;
  padding-top: 32px;
  width: 360px;
  color: #fff;
  font-family: 'Inter-Regular';
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  z-index: 100;
  pointer-events: none;
}
