.place__text {
  margin: 0;
  padding: 0;
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  width: calc(100%/2);
}

@media (max-width: 425px) {
  .place__text {
    width: 100%;
    padding-top: 32px;
  }
}
