.footer__link {
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-decoration: 0;
}

@media (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}
