.intro {
  margin: 0;
  padding: 0;
  padding-top: 92px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 200px);
  align-self: flex-start;
}

@media (max-width: 767px) {
  .intro {
    padding-top: 64px;
    padding-left: 16px;
    width: calc(100% - 32px);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .intro {
    padding-top: 88px;
    padding-left: 24px;
    width: calc(100% - 48px);
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .intro {
    width: 690px;
    padding-left: 48px;
  }
}

@media (min-width: 1280px) {
  .intro {
    padding-left: 100px;
    width: 690px;
  }
}
