.cover__overlay {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: #2A2C2F;
  opacity: 0.8;
}

.cover__overlay:hover {
  opacity: 0.3;
}
