.lead__caption {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: left;
  color: #fff;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
