.cover__title {
  margin: 0;
  padding: 0;
  width: 560px;
  color: #fff;
  text-decoration: none;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  z-index: 100;
  pointer-events: none;
}

@media (max-width: 767px) {
  .cover__title {
    font-size: 9.9vw;
    line-height: 1.09;
    width: 78%;
  }
}
