.cover__title {
  margin: 0;
  padding: 0;
  width: 560px;
  color: #fff;
  font-family: 'Inter-Bold';
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  z-index: 100;
  pointer-events: none;
}
