.footer {
  margin: 0;
  padding: 0;
  padding-top: 92px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: calc(100% - 96px);
}
