.place__website {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: calc(100%/2);
}

@media (max-width: 425px) {
  .place__website {
    width: 100%;
    padding-top: 32px;
  }
}
