.intro__title {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
}

@media (max-width: 425px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
}
